---
subtitle: WordPress plugin to integrate with GitHub
layout: gitpress
navbar_top_url: ""
description: GitPress is a WordPress plugin that integrates GitHub seamlessly in to your blog
keywords: github, wordpress, plugin, integration, api, shortcodes, widgets
microdata: http://schema.org/SoftwareApplication
share: true
---
<div class="hide">
  <!-- Google -->
  <a href="{{site.me.google}}?rel=author"></a>
  <!-- Thing -->
  <meta itemprop="description" content="{{page.subtitle}}.">
  <!-- CreativeWork -->
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Alasdair Mercer">
    <meta itemprop="url" content="{{site.origin}}">
  </div>
  {% if site.project.gitpress.created %}
    <meta itemprop="copyrightYear" content="{{site.project.gitpress.created | date:'%Y'}}">
    <meta itemprop="dateCreated" content="{{site.project.gitpress.created}}">
  {% endif %}
  {% if site.project.gitpress.published %}<meta itemprop="datePublished" content="{{site.project.gitpress.published}}">{% endif %}
  {% if site.project.gitpress.updated %}<meta itemprop="dateModified" content="{{site.project.gitpress.updated}}">{% endif %}
  <meta itemprop="isFamilyFriendly" content="true">
  <meta itemprop="keywords" content="{{page.keywords}}">
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="$0">
    <meta itemprop="priceCurrency" content="USD">
    <link itemprop="availability" href="http://schema.org/PreOrder">
  </div>
  <!-- SoftwareApplication -->
  <link itemprop="applicationCategory SoftwareApplicationCategory" href="http://schema.org/OtherApplication">
  {% if site.project.gitpress.file %}
    {% if site.project.gitpress.file.format %}<meta itemprop="fileFormat" content="{{site.project.gitpress.file.format}}">{% endif %}
    {% if site.project.gitpress.file.size %}<meta itemprop="fileSize" content="{{site.project.gitpress.file.size}}">{% endif %}
  {% endif %}
</div>
<p>
  <a href="{{site.origin}}/GitPress" itemprop="name url">GitPress</a> is a <a href="http://wordpress.org">WordPress</a>
  plugin that allows users to integrate information from their open source projects
  hosted on <a href="http://github.com">GitHub</a> in to their blogs. The plugin
  provides widgets and shortcodes which you can customize to suit your own needs.
</p>
<p>
  This project is still in the planning stage and development has not yet started
  but I'm hoping to very soon.
</p>
<h2><a name="bugs"></a>Bugs</h2>
<p>
  If you have any problems with this plugin or would like to see the changes currently
  in development <a href="https://github.com/neocotic/GitPress/issues">browse our issues</a>.
</p>
<h2><a name="questions"></a>Questions?</h2>
<p>
  Take a look at the documentation to get a better understanding of what the code
  is doing.
</p>
<p>
  If that doesn't help, feel free to follow me on Twitter, <a href="{{site.me.twitter}}">@neocotic</a>.
</p>
<div class="well">
  <a href="https://github.com/neocotic/GitPress/zipball/master" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-success" itemprop="downloadUrl"><i class="icon-download icon-white"></i> Download</a>
  <a href="https://github.com/neocotic/GitPress" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-info"><i class="icon-eye-open icon-white"></i> View Source</a>
</div>