---
layout: page
topbar_top_url: ""
description: The personal blog of Alasdair Mercer (neocotic) and home to my many open source development projects
keywords: web, developer, programmer, software, engineer, java, javascript, html5, css3, php, movies, games
url: /
hero:
  active: true
  header: Template 1.1.4
  content: >
    Packed full of UI enhancements, tweaks, bug fixes, and auto-paste functionality
    for keyboard shortcuts
  buttons:
    - url: /template
      classes: btn-inverse
      title: Homepage
      icon:
        name: home
        invert: true
    - url: https://chrome.google.com/webstore/detail/dcjnfaoifoefmnbhhlbppaebgnccfddf
      classes: btn-primary chrome_install_button
      text: Install
      title: Chrome Web Store
    - url: https://github.com/neocotic/template/zipball/v1.1.4
      classes: btn-success
      text: Download
      title: Hosted by GitHub
    - url: https://github.com/neocotic/template
      classes: btn-info
      text: View Source
      title: Hosted by GitHub
    - donation_id: BGWG9R5LBNECY
      classes: btn-warning
      text: Donate
      title: Share the love!
comment_count: true
---
<div class="posts" itemscope itemtype="http://schema.org/Blog">
  {% for post in paginator.posts %}
    <article class="post" itemprop="blogPost" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="hide">
        <meta itemprop="description headline" content="{{post.description}}">
        <meta itemprop="copyrightYear" content="{{post.date | date:'%Y'}}">
        <meta itemprop="dateCreated datePublished" content="{{post.date}}">
        <meta itemprop="keywords" content="{{post.keywords}}">
        <meta itemprop="wordCount" content="{{post.content | number_of_words}}">
      </div>
      <header class="page-header">
        <div class="pull-right">
          <a href="{{site.origin}}{{post.url}}#disqus_thread" class="btn" data-disqus-identifier="{{post.id}}" rel="tooltip" title="Comments"><i class="icon-comment"></i></a>
        </div>
        <h2><a href="{{post.url}}" itemprop="name url">{{post.title}}</a></h2>
        <p class="lead" itemprop="author" itemscope itemtype="http://schema.org/Person">
          by <a href="{{site.origin}}/about" rel="author" itemprop="name url">Alasdair Mercer</a>
          <a href="{{site.me.google}}?rel=author" class="google-profile"><img src="https://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16"></a>
          on {{post.date | date_to_long_string}}
        </p>
      </header>
      <div class="row-fluid" itemprop="articleBody text">
        {{post.content}}
      </div><!--/.row-fluid -->
    </article>
    {% if forloop.index == 2 or forloop.index == 4 or forloop.index == 6 %}
      {% unless forloop.last %}
        <div class="ad-block">
          <div class="well well-small">
            {% include ad-728x90.html %}
          </div><!--/.well -->
        </div><!--/.ad-block -->
      {% endunless %}
    {% endif %}
  {% endfor %}
  {% include pagination.html %}
</div><!--/.posts -->