---
subtitle: Git tasks for Ant scripts
layout: gitant
navbar_top_url: ""
description: git-ant is a Java library that provides useful Ant tasks for use with the git version control system
keywords: java, git, ant, script, tasks, macros
microdata: http://schema.org/SoftwareApplication
share: true
---
<div class="hide">
  <link itemprop="applicationCategory SoftwareApplicationCategory" href="http://schema.org/UtilitiesApplication">
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
    <a href="{{site.me.google}}?rel=author"></a>
    <meta itemprop="name" content="Alasdair Mercer">
    <meta itemprop="url" content="{{site.origin}}">
  </div>
  {% if site.project.gitant.created %}
    <meta itemprop="copyrightYear" content="{{site.project.gitant.created | date:'%Y'}}">
    <meta itemprop="dateCreated" content="{{site.project.gitant.created}}">
  {% endif %}
  {% if site.project.gitant.published %}<meta itemprop="datePublished" content="{{site.project.gitant.published}}">{% endif %}
  {% if site.project.gitant.updated %}<meta itemprop="dateModified" content="{{site.project.gitant.updated}}">{% endif %}
  <meta itemprop="description headline" content="{{page.subtitle}}.">
  {% if site.project.gitant.file %}
    {% if site.project.gitant.file.format %}<meta itemprop="fileFormat" content="{{site.project.gitant.file.format}}">{% endif %}
    {% if site.project.gitant.file.size %}<meta itemprop="fileSize" content="{{site.project.gitant.file.size}}">{% endif %}
  {% endif %}
  <meta itemprop="isFamilyFriendly" content="true">
  <meta itemprop="keywords" content="{{page.keywords}}">
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <link itemprop="availability" href="http://schema.org/PreOrder">
    <meta itemprop="price" content="$0">
    <meta itemprop="priceCurrency" content="USD">
  </div>
</div>
<p>
  <a href="{{site.origin}}/git-ant" itemprop="name url">git-ant</a> is a Java library
  that provides the common useful tasks you would expect when using <a href="http://git-scm.com">git</a>
  within <a href="http://ant.apache.org">Ant</a> scripts.
</p>
<h2><a name="tasks"></a>Tasks</h2>
<p>
  Providing key functionality and flexibility the following tasks are made available
  by this library;
</p>
<ul>
  <li>git</li>
  <li>git-add</li>
  <li>git-add-remote</li>
  <li>git-add-submodule</li>
  <li>git-branch</li>
  <li>git-checkout</li>
  <li>git-checkout-local</li>
  <li>git-clone</li>
  <li>git-commit</li>
  <li>git-fetch</li>
  <li>git-init</li>
  <li>git-log</li>
  <li>git-merge-branch</li>
  <li>git-pull</li>
  <li>git-push</li>
  <li>git-push-to-branch</li>
  <li>git-tag</li>
</ul>
<p>
  This project is still in the planning stage and development has not yet started
  so I'll try to add more details (e.g. attributes) on each task as I go but this
  is a general overview of what will be included.
</p>
<h2><a name="bugs"></a>Bugs</h2>
<p>
  If you have any problems with this library or would like to see the changes currently
  in development <a href="https://github.com/neocotic/git-ant/issues">browse our issues</a>.
</p>
<h2><a name="questions"></a>Questions?</h2>
<p>
  Take a look at the documentation to get a better understanding of what the code
  is doing.
</p>
<p>
  If that doesn't help, feel free to follow me on Twitter, <a href="{{site.me.twitter}}">@neocotic</a>.
</p>
<div class="well">
  <a href="https://github.com/neocotic/git-ant/zipball/master" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-success" itemprop="downloadUrl"><i class="icon-download icon-white"></i> Download</a>
  <a href="https://github.com/neocotic/git-ant" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-info"><i class="icon-eye-open icon-white"></i> View Source</a>
</div>