{% capture ts_param %}_={{site.time | date:'%Y%m%d%H%M%S'}}{% endcapture %}
{% if page.carousel and page.carousel.images %}
  <div class="row-fluid carousel-container">
    {% if page.carousel.center %}<div class="span2"></div>{% endif %}
    <div id="carousel" class="carousel slide span8">
      <div class="carousel-inner">
        {% for image in page.carousel.images %}
          <div class="item{% if forloop.first %} active{% endif %}"{% if image.property %} itemprop="{{image.property}}"{% endif %} itemscope itemtype="http://schema.org/ImageObject">
            <div class="hide">
              <div itemprop="author" itemscope itemtype="http://schema.org/Person">
                <meta itemprop="name" content="Alasdair Mercer">
                <meta itemprop="url" content="{{site.origin}}">
              </div>
              {% if image.height %}<meta itemprop="height" content="{{image.height}}">{% endif %}
              <meta itemprop="isFamilyFriendly" content="true">
              {% if image.width %}<meta itemprop="width" content="{{image.width}}">{% endif %}
            </div>
            <img src="{{image.url}}?{{ts_param}}" alt="{% if image.title %}{{image.title}}{% else %}Image {{forloop.index}}{% endif %}" itemprop="contentUrl image url">
            {% if image.title or image.caption %}
              <div class="carousel-caption">
                {% if image.title %}<h4 itemprop="name">{{image.title}}</h4>{% endif %}
                {% if image.caption %}<p itemprop="caption description headline">{{image.caption}}</p>{% endif %}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      </div>
      <a class="left carousel-control" href="#carousel" data-slide="prev">&lsaquo;</a>
      <a class="right carousel-control" href="#carousel" data-slide="next">&rsaquo;</a>
    </div>
  </div>
{% endif %}