---
subtitle: URL shortener for Java
layout: blingier
navbar_top_url: ""
description: blingier is a URL shortener engine powered entirely by Java and designed to run anywhere with as few tweaks as possible
keywords: java, url, shortener, api, web, application
microdata: http://schema.org/WebApplication
share: true
---
<div class="hide">
  <!-- Google -->
  <a href="{{site.me.google}}?rel=author"></a>
  <!-- Thing -->
  <meta itemprop="description" content="{{page.subtitle}}.">
  <!-- CreativeWork -->
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Alasdair Mercer">
    <meta itemprop="url" content="{{site.origin}}">
  </div>
  {% if site.project.blingier.created %}
    <meta itemprop="copyrightYear" content="{{site.project.blingier.created | date:'%Y'}}">
    <meta itemprop="dateCreated" content="{{site.project.blingier.created}}">
  {% endif %}
  {% if site.project.blingier.published %}<meta itemprop="datePublished" content="{{site.project.blingier.published}}">{% endif %}
  {% if site.project.blingier.updated %}<meta itemprop="dateModified" content="{{site.project.blingier.updated}}">{% endif %}
  <meta itemprop="isFamilyFriendly" content="true">
  <meta itemprop="keywords" content="{{page.keywords}}">
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="$0">
    <meta itemprop="priceCurrency" content="USD">
    <link itemprop="availability" href="http://schema.org/PreOrder">
  </div>
  <!-- SoftwareApplication -->
  <link itemprop="applicationCategory SoftwareApplicationCategory" href="http://schema.org/OtherApplication">
  {% if site.project.blingier.file %}
    {% if site.project.blingier.file.format %}<meta itemprop="fileFormat" content="{{site.project.blingier.file.format}}">{% endif %}
    {% if site.project.blingier.file.size %}<meta itemprop="fileSize" content="{{site.project.blingier.file.size}}">{% endif %}
  {% endif %}
</div>
<p>
  <a href="{{site.origin}}/blingier" itemprop="name url">blingier</a> is a <abbr rel="tooltip" title="Uniform Resource Locator">URL</abbr>
  shortener engine powered entirely by Java and designed to run anywhere (with
  minimum tweaks) that allows anyone to host their very own service.
</p>
<p>
  Inspired by the open source <a href="http://yourls.org">YOURLS</a> and based solely
  on the <a href="/blingaer">blingaer</a> project, <a href="/blingier">blingier</a>
  attempts to provide all the features and power of <a href="/blingaer">blingaer</a>
  without the requirement of the <a href="http://code.google.com/appengine">Google App Engine</a>.
</p>
<p>
  <a href="/blingier">blingier</a> will remain in the planning stage until development
  on <a href="/blingaer">blingaer</a> is complete and a stable version is publicly
  released.
</p>
<h2><a name="bugs"></a>Bugs</h2>
<p>
  If you have any problems with this application or would like to see the changes
  currently in development <a href="https://github.com/neocotic/blingier/issues">browse our issues</a>.
</p>
<p>
  Developers should run all tests and ensure they pass before submitting a pull
  request.
</p>
<h2><a name="questions"></a>Questions?</h2>
<p>
  Take a look at the documentation to get a better understanding of what the code
  is doing.
</p>
<p>
  If that doesn't help, feel free to follow me on Twitter, <a href="{{site.me.twitter}}">@neocotic</a>.
</p>
<div class="well">
  <a href="https://github.com/neocotic/blingier/zipball/master" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-success" itemprop="downloadUrl"><i class="icon-download icon-white"></i> Download</a>
  <a href="https://github.com/neocotic/blingier" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-info"><i class="icon-eye-open icon-white"></i> View Source</a>
</div>