---
subtitle: Keep up-to-date with your iDevice order
layout: iorder
navbar_top_url: ""
description: iOrder is a Google Chrome extension that keeps users updated with their iDevice order progress
keywords: iorder, chrome, extension, apple, order, track, status, updates
microdata: http://schema.org/WebApplication
share: true
carousel:
  images:
    - url: /iOrder/images/screenshot_01.png
      title: Simplicity
      property: screenshot
      caption: >
        Quickly view the status of an order or open its tracking page while browsing
    - url: /iOrder/images/screenshot_02.png
      title: Make yourself at home
      property: screenshot
      caption: >
        Have complete control of how iOrder works using its amazing options page
    - url: /iOrder/images/screenshot_03.png
      title: Ka-ching
      property: screenshot
      caption: >
        Managing your orders couldn't be any easier
donation:
  id: 2KJMS2YHQVMWU
  size: large
---
<div class="hide">
  <link itemprop="applicationCategory SoftwareApplicationCategory" href="http://schema.org/OtherApplication">
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
    <a href="{{site.me.google}}?rel=author"></a>
    <meta itemprop="name" content="Alasdair Mercer">
    <meta itemprop="url" content="{{site.origin}}">
  </div>
  {% if site.project.iorder.created %}
    <meta itemprop="copyrightYear" content="{{site.project.iorder.created | date:'%Y'}}">
    <meta itemprop="dateCreated" content="{{site.project.iorder.created}}">
  {% endif %}
  {% if site.project.iorder.published %}<meta itemprop="datePublished" content="{{site.project.iorder.published}}">{% endif %}
  {% if site.project.iorder.updated %}<meta itemprop="dateModified" content="{{site.project.iorder.updated}}">{% endif %}
  <meta itemprop="description headline" content="Keep updated with the progress of your iDevice order.">
  {% if site.project.iorder.file %}
    {% if site.project.iorder.file.format %}<meta itemprop="fileFormat" content="{{site.project.iorder.file.format}}">{% endif %}
    {% if site.project.iorder.file.size %}<meta itemprop="fileSize" content="{{site.project.iorder.file.size}}">{% endif %}
  {% endif %}
  <meta itemprop="image" content="{{site.origin}}/iOrder/images/logo_72.png">
  <meta itemprop="isFamilyFriendly" content="true">
  <meta itemprop="keywords" content="{{page.keywords}}">
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <link itemprop="availability" href="http://schema.org/InStock">
    <meta itemprop="price" content="$0">
    <meta itemprop="priceCurrency" content="USD">
  </div>
  <meta itemprop="permissions" content="Your data on neocotic.com">
  <meta itemprop="permissions" content="Your data on store.apple.com">
  <meta itemprop="permissions" content="Your tabs and browsing activity">
</div>
<p>
  <a href="{{site.origin}}/iOrder" itemprop="name url">iOrder</a> is an extension
  for <a href="http://google.com/chrome" itemprop="browsers">Google Chrome</a>
  that keeps users updated with their iDevice order progress.
</p>
<p>
  If you're finding yourself constantly refreshing your order's page just <a href="https://chrome.google.com/webstore/detail/kflemogpkbophbipihnbcmlplbihbdhb">install iOrder</a>
  and it will do all the work for you and notify you when your order is updated.
  Also, <a href="/iOrder">iOrder</a> provides easily accessible links to view and/or
  track your orders on the <a href="http://store.apple.com">Apple store</a>.
</p>
<h2><a name="permissions"></a>Permissions</h2>
<p>
  For those of you that worry about these things I have <a href="/iOrder/permissions">constructed a breakdown</a>
  of what permissions are used by this extension (even those you aren't warned
  about) and why.
</p>
<h2><a name="changes"></a>Changes</h2>
<h3>Version <span itemprop="softwareVersion version">{{site.project.iorder.version}}</span></h3>
<ul>
  <li>
    <a href="https://github.com/neocotic/iOrder/issues/27">#27</a>: Add donation
    button to footer of Options page
  </li>
  <li>
    <a href="https://github.com/neocotic/iOrder/issues/28">#28</a>: Improve inline
    installation compatibility
  </li>
</ul>
<p>
  <a href="{{site.origin}}/iOrder/changes" itemprop="releaseNotes">View historical changes</a>
</p>
<h2><a name="help-desk"></a>Help Desk</h2>
<p>
  If you have any problems with this extension or would like to give us your feedback
  you can do so on our dedicated <a href="https://iorder.uservoice.com">Help Desk</a>.
</p>
<h2><a name="questions"></a>Questions?</h2>
<p>
  Take a look at the <a href="/iOrder/docs/background.html">documentation</a> to
  get a better understanding of what the code is doing.
</p>
<p>
  If that doesn't help, feel free to follow me on Twitter, <a href="{{site.me.twitter}}">@neocotic</a>.
  However, I highly recommend reading the <a href="/iOrder/faq">frequently asked questions</a>.
</p>
<h2><a name="screenshots"></a>Screenshots</h2>
{% include carousel.html %}
<div class="well">
  <a href="https://chrome.google.com/webstore/detail/kflemogpkbophbipihnbcmlplbihbdhb" rel="tooltip" title="Chrome Web Store" class="btn btn-large btn-primary chrome_install_button" itemprop="installUrl"><i class="icon-download-alt icon-white"></i> Install</a>
  <a href="https://github.com/neocotic/iOrder/zipball/{{site.project.iorder.version}}" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-success" itemprop="downloadUrl"><i class="icon-download icon-white"></i> Download</a>
  <a href="https://github.com/neocotic/iOrder" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-info"><i class="icon-eye-open icon-white"></i> View Source</a>
  {% include donation.html %}
</div>