---
subtitle: JavaScript library for converting HTML into Markdown
layout: htmlmd
navbar_top_url: ""
description: html.md is a pure JavaScript library for converting HTML in to valid Markdown
keywords: html, markdown, convert, javascript, library
microdata: http://schema.org/SoftwareApplication
share: true
---
<div class="hide">
  <!-- Google -->
  <a href="{{site.me.google}}?rel=author"></a>
  <!-- Thing -->
  <meta itemprop="description" content="{{page.subtitle}}.">
  <!-- CreativeWork -->
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Alasdair Mercer">
    <meta itemprop="url" content="{{site.origin}}">
  </div>
  {% if site.project.htmlmd.created %}
    <meta itemprop="copyrightYear" content="{{site.project.htmlmd.created | date:'%Y'}}">
    <meta itemprop="dateCreated" content="{{site.project.htmlmd.created}}">
  {% endif %}
  {% if site.project.htmlmd.published %}<meta itemprop="datePublished" content="{{site.project.htmlmd.published}}">{% endif %}
  {% if site.project.htmlmd.updated %}<meta itemprop="dateModified" content="{{site.project.htmlmd.updated}}">{% endif %}
  <meta itemprop="isFamilyFriendly" content="true">
  <meta itemprop="keywords" content="{{page.keywords}}">
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="$0">
    <meta itemprop="priceCurrency" content="USD">
    <link itemprop="availability" href="http://schema.org/InStock">
  </div>
  <!-- SoftwareApplication -->
  <link itemprop="applicationCategory SoftwareApplicationCategory" href="http://schema.org/UtilitiesApplication">
  {% if site.project.htmlmd.file %}
    {% if site.project.htmlmd.file.format %}<meta itemprop="fileFormat" content="{{site.project.htmlmd.file.format}}">{% endif %}
    {% if site.project.htmlmd.file.size %}<meta itemprop="fileSize" content="{{site.project.htmlmd.file.size}}">{% endif %}
  {% endif %}
  <meta itemprop="softwareVersion version" content="{{site.project.htmlmd.version}}">
</div>
<p>
  <a href="{{site.origin}}/html.md" itemprop="name url">html.md</a> is a JavaScript
  library that converts <abbr rel="tooltip" title="HyperText Markup Language">HTML</abbr>
  into valid <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a>.
</p>
<p>
  Originally based on the <a href="http://homepage.mac.com/tjim">Make.text</a>
  bookmarklet but with cleaner safer code, not to mention a new simple and understandable
  <abbr rel="tooltip" title="Application Programming Interface">API</abbr>.
</p>
<h2><a name="standard-usage"></a>Standard Usage</h2>
<p>
  Convert an <abbr rel="tooltip" title="HyperText Markup Language">HTML</abbr>
  element or string in to <a href="http://en.wikipedia.org/wiki/Markdown">Markdown</a>.
</p>
{% highlight javascript %}
md(html[, options])
{% endhighlight %}
<h2><a name="config"></a>Configuration</h2>
<p>
  The behaviour of <a href="/html.md">html.md</a> can easily be configured further
  to suit your needs by passing an object as the second argument to the main call.
</p>
{% highlight javascript %}
options.debug = true
{% endhighlight %}
<p>Whether or not debug information is logged in the console.</p>
<h2><a name="misc"></a>Miscellaneous</h2>
<p>
  The <a href="/html.md">html.md</a> <abbr rel="tooltip" title="Application Programming Interface">API</abbr>
  exposes some properties and methods which may only be useful to users in special
  cases.
</p>
{% highlight javascript %}
md.noConflict()
{% endhighlight %}
<p>
  Relinquish <a href="/html.md">html.md</a>'s control of the <code>md</code> global
  variable. If another library uses this variable calling this method will reassign
  it back to that library.
</p>
{% highlight javascript %}
md.VERSION
{% endhighlight %}
<p>The current version of <a href="/html.md">html.md</a>.</p>
<h2><a name="bugs"></a>Bugs</h2>
<p>
  If you have any problems with this library or would like to see the changes currently
  in development <a href="https://github.com/neocotic/html.md/issues">browse our issues</a>.
</p>
<h2><a name="questions"></a>Questions?</h2>
<p>
  Take a look at the <a href="/html.md/docs/md.html">documentation</a> to get a
  better understanding of what the code is doing.
</p>
<p>
  If that doesn't help, feel free to follow me on Twitter, <a href="{{site.me.twitter}}">@neocotic</a>.
</p>
<div class="well">
  <a href="https://github.com/neocotic/html.md/zipball/{{site.project.htmlmd.version}}" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-success" itemprop="downloadUrl"><i class="icon-download icon-white"></i> Download</a>
  <a href="https://github.com/neocotic/html.md" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-info"><i class="icon-eye-open icon-white"></i> View Source</a>
</div>