---
layout: default
---
{% capture ts_param %}_={{site.time | date:'%Y%m%d%H%M%S'}}{% endcapture %}
{% if page.title or page.subtitle or page.navbar_items %}
  <header class="{% if page.header_jumbo %}jumbotron subhead{% else %}page-header{% endif %}">
    {% if page.logo %}<img src="{{page.logo.url}}?{{ts_param}}" width="{{page.logo.width}}" height="{{page.logo.height}}"{% if page.logo.alt %} alt="{{page.logo.alt}}"{% endif %} class="pull-left">{% endif %}
    {% if page.title %}<h1>{{page.title}}{% if page.title_addon %} <small>{{page.title_addon}}</small>{% endif %}</h1>{% endif %}
    {% if page.subtitle %}<p class="lead">{{page.subtitle}}</p>{% endif %}
    {% include navbar.html %}
  </header>
{% endif %}
<section>
  {% if page.hero and page.hero.active %}
    <div class="row-fluid hero-container">
      <div class="span2"></div>
      <div class="hero-unit span8">
        <h1>{{page.hero.header}}</h1>
        <p>{{page.hero.content}}</p>
        {% if page.hero.buttons %}
          <div>
            {% for button in page.hero.buttons %}
              {% if button.donation_id %}
                <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank" class="donation">
                  <input type="hidden" name="cmd" value="_s-xclick">
                  <input type="hidden" name="hosted_button_id" value="{{button.donation_id}}">
                  <button type="submit" class="btn btn-large {{button.classes}}"{% if button.title %} rel="tooltip" title="{{button.title}}"{% endif %}>{% if button.icon %}<i class="icon-{{button.icon.name}}{% if button.icon.invert %} icon-white{% endif %}"></i> {% endif %}{{button.text}}</button>
                </form>
              {% else %}
                <a href="{{button.url}}" class="btn btn-large {{button.classes}}"{% if button.title %} rel="tooltip" title="{{button.title}}"{% endif %}>{% if button.icon %}<i class="icon-{{button.icon.name}}{% if button.icon.invert %} icon-white{% endif %}"></i> {% endif %}{{button.text}}</a>
              {% endif %}
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  <div{% if page.microdata %} itemscope itemtype="{{page.microdata}}"{% endif %}>
    {{content}}
  </div>
  <div class="st_container"></div>
</section>