---
layout: default
share: true
comments: true
---
<article class="post">
  <header class="page-header">
    <h1>{{page.title}}</h1>
    <p class="lead">
      by
      <a href="https://plus.google.com/114861910136746455630?rel=author" class="google-profile"><img src="https://www.google.com/images/icons/ui/gprofile_button-16.png" width="16" height="16"></a>
      <a href="/about" rel="author">Alasdair</a>
      on {{page.date | date_to_long_string}}
    </p>
  </header>
  <div class="row-fluid">
    {{content}}
  </div><!--/.row-fluid -->
  <div class="ad-block ad-block-single">
    <div class="well well-small">
      {% include ad-728x90.html %}
    </div><!--/.well -->
  </div><!--/.ad-block -->
  <div class="st_container"></div>
</article>
<div id="disqus_thread"></div>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus</a>.</noscript>