---
layout: page
header_jumbo: true
title: Template
navbar_base_url: /template
navbar_items:
  - href: ""
    text: Details
  - href: changes
    text: Change Log
  - href: faq
    text: FAQ
  - href: guide
    text: Guide
    items:
      - href: guide
        text: Introduction
      - href: guide/standard
        text: Standard
      - href: guide/lists-objects
        text: Lists &amp; Objects
      - href: guide/options
        text: Options
      - href: guide/operations
        text: Operations
  - href: docs
    text: Documentation
    items:
      - href: docs/analytics.html
        text: analytics.coffee
      - href: docs/background.html
        text: background.coffee
      - href: docs/content.html
        text: content.coffee
      - href: docs/i18n.html
        text: i18n.coffee
      - href: docs/icons.html
        text: icons.coffee
      - href: docs/install.html
        text: install.coffee
      - href: docs/log.html
        text: log.coffee
      - href: docs/notification.html
        text: notification.coffee
      - href: docs/options.html
        text: options.coffee
      - href: docs/popup.html
        text: popup.coffee
      - href: docs/store.html
        text: store.coffee
      - href: docs/utils.html
        text: utils.coffee
topbar_top_url: projects
topbar_sub_url: template
---
{{content}}