---
subtitle: Remove that pesky blackout from Wikipedia
layout: undowikipediablackout
navbar_top_url: ""
description: Undo Wikipedia Blackout is a Google Chrome extension that removes the Wikipedia blackout
keywords: undo, remove, wikipedia, blackout, chrome, extension, sopa, pipa
microdata: http://schema.org/WebApplication
share: true
carousel:
  images:
    - url: /UndoWikipediaBlackout/images/screenshot_01.png
      title: Simplicity
      caption: >
        Works in the shadows like a stealthy ninja so you won't even know it's there
    - url: /UndoWikipediaBlackout/images/screenshot_02.png
      title: Make yourself at home
      caption: >
        Have complete control of how Undo Wikipedia Blackout works using its amazing
        options page
donation:
  id: 7D3SUJ62PRV88
  size: large
---
<div class="hide">
  <!-- Google -->
  <a href="{{site.me.google}}?rel=author"></a>
  <!-- Thing -->
  <meta itemprop="description" content="Remove the blackout on Wikipedia.">
  <meta itemprop="image" content="{{site.origin}}/UndoWikipediaBlackout/images/logo_72.png">
  <!-- CreativeWork -->
  <div itemprop="author" itemscope itemtype="http://schema.org/Person">
    <meta itemprop="name" content="Alasdair Mercer">
    <meta itemprop="url" content="{{site.origin}}">
  </div>
  {% if site.project.undowikipediablackout.created %}
    <meta itemprop="copyrightYear" content="{{site.project.undowikipediablackout.created | date:'%Y'}}">
    <meta itemprop="dateCreated" content="{{site.project.undowikipediablackout.created}}">
  {% endif %}
  {% if site.project.undowikipediablackout.published %}<meta itemprop="datePublished" content="{{site.project.undowikipediablackout.published}}">{% endif %}
  {% if site.project.undowikipediablackout.updated %}<meta itemprop="dateModified" content="{{site.project.undowikipediablackout.updated}}">{% endif %}
  <meta itemprop="isFamilyFriendly" content="true">
  <meta itemprop="keywords" content="{{page.keywords}}">
  <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
    <meta itemprop="price" content="$0">
    <meta itemprop="priceCurrency" content="USD">
    <link itemprop="availability" href="http://schema.org/InStock">
  </div>
  <!-- SoftwareApplication -->
  <link itemprop="applicationCategory SoftwareApplicationCategory" href="http://schema.org/OtherApplication">
  {% if site.project.undowikipediablackout.file %}
    {% if site.project.undowikipediablackout.file.format %}<meta itemprop="fileFormat" content="{{site.project.undowikipediablackout.file.format}}">{% endif %}
    {% if site.project.undowikipediablackout.file.size %}<meta itemprop="fileSize" content="{{site.project.undowikipediablackout.file.size}}">{% endif %}
  {% endif %}
  <meta itemprop="permissions" content="Your data on neocotic.com">
  <meta itemprop="permissions" content="Your data on wikipedia.org">
  <meta itemprop="permissions" content="Your tabs and browsing activity">
  <meta itemprop="screenshot" content="{{site.origin}}/UndoWikipediaBlackout/images/screenshot_01.png">
</div>
<p>
  <a href="{{site.origin}}/UndoWikipediaBlackout" itemprop="name url">Undo Wikipedia Blackout</a>
  is an extension for <a href="http://google.com/chrome" itemprop="browsers">Google Chrome</a>
  that simply removes the blackout from <a href="http://wikipedia.org">Wikipedia</a>.
</p>
<p>
  Although this extension <strong>does not support</strong> the <a href="http://en.wikipedia.org/wiki/Stop_Online_Piracy_Act" rel="tooltip" title="Stop Online Piracy Act">SOPA</a>
  and <a href="http://en.wikipedia.org/wiki/PROTECT_IP_Act" rel="tooltip" title="PROTECT IP Act">PIPA</a>
  bills in any way, it allows you to bypass the blackout on <a href="http://wikipedia.org">Wikipedia</a>.
</p>
<h2><a name="permissions"></a>Permissions</h2>
<p>
  For those of you that worry about these things I have <a href="/UndoWikipediaBlackout/permissions">constructed a breakdown</a>
  of what permissions are used by this extension (even those you aren't warned
  about) and why.
</p>
<h2><a name="changes"></a>Changes</h1>
<h3>Version <span itemprop="softwareVersion version">{{site.project.undowikipediablackout.version}}</span></h3>
<ul>
  <li>
    <a href="https://github.com/neocotic/UndoWikipediaBlackout/issues/8">#8</a>:
    Add donation button to footer of Options page
  </li>
  <li>
    <a href="https://github.com/neocotic/UndoWikipediaBlackout/issues/9">#9</a>:
    Improve inline installation compatibility
  </li>
</ul>
<p>
  <a href="{{site.origin}}/UndoWikipediaBlackout/changes" itemprop="releaseNotes">View historical changes</a>
</p>
<h2><a name="help-desk"></a>Help Desk</h2>
<p>
  If you have any problems with this extension or would like to give us your feedback
  you can do so on our dedicated <a href="https://undowikipediablackout.uservoice.com">Help Desk</a>.
</p>
<h2><a name="questions"></a>Questions?</h2>
<p>
  Take a look at the <a href="/UndoWikipediaBlackout/docs/background.html">documentation</a>
  to get a better understanding of what the code is doing.
</p>
<p>
  If that doesn't help, feel free to follow me on Twitter, <a href="{{site.me.twitter}}">@neocotic</a>.
  However, I highly recommend reading the <a href="/UndoWikipediaBlackout/faq">frequently asked questions</a>.
</p>
<h2><a name="screenshots"></a>Screenshots</h2>
{% include carousel.html %}
<div class="well">
  <a href="https://chrome.google.com/webstore/detail/gbgogigdaibinioohdhejplmajgkkfdn" rel="tooltip" title="Chrome Web Store" class="btn btn-large btn-primary chrome_install_button" itemprop="installUrl"><i class="icon-download-alt icon-white"></i> Install</a>
  <a href="https://github.com/neocotic/UndoWikipediaBlackout/zipball/{{site.project.undowikipediablackout.version}}" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-success" itemprop="downloadUrl"><i class="icon-download icon-white"></i> Download</a>
  <a href="https://github.com/neocotic/UndoWikipediaBlackout" rel="tooltip" title="Hosted by GitHub" class="btn btn-large btn-info"><i class="icon-eye-open icon-white"></i> View Source</a>
  {% include donation.html %}
</div>